
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

h2{
    color: darkcyan;
    font-size: 50px;
    text-align: center;
    background-color: beige;
}
h3{
    font-size: 40px;
}

.chocolate{
    color: chocolate ;
}
div{
    border-width: 8cap;
    border-color: red;
    border-style: solid;
    border-radius: 10px;
    margin: 30px;
    padding-left: 30px;
    background-color: bisque;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}